:root {
  --color-white: #ffffff;
  --color-black: #2D3436;
  --gray-dark: #5C5C5C;
  --gray: #858585;
  --gray-light: #ADADAD;
  --gray-soft: #C2C2C2;

  // Blue
  --dark-blue: #0984E3;
  --light-blue: #74B9FF;

  // Green
  --dark-green: #00B894;
  --light-green: #55EFC4;

  // Yellow
  --dark-yellow: #FDCB6E;
  --light-yellow: #FFEAA7;

  // Red
  --dark-red: #D63031;
  --light-red: #FF7675;

  // Purple
  --dark-pupler: #6C5CE7;
  --light-pupler: #A29BFE;

  // Pink
  --dark-pink: #E84393;
  --light-pink: #FD79A8;
}