.sidebar {
  width: $sidebar-width;
  height: 100vh;

  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;

  @include breakpoint($tablet-bp) {
    top: 4rem;
    height: calc(100vh - 4rem);
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    background-color: #0D0D0D;

    .show-sidebar & {
      display: block;
      transform: translateX(0);
    }
  }
}

.sidebar__header {
  height: 18rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    // Растягиваю на всю ширину картинку
    // Если ее размеры будут меньше, то она растянится на всю ширину
    object-fit: cover;
    user-select: none;

    // @include breakpoint($tablet-bp) {
    //   height: 10rem;
    // }
  }
}

.sidebar__content {
  padding: 0 2rem;
  /*
    В profile.scss задаем
    position releative, что бы
    border не уходил под фон
  */
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
