.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tags___item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0.9rem;

  background-color: #ea8c1e;
  border-radius: 3px;

  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  line-height: 1.3;
  color: $white;
}
