.inspiration {
  padding-top: 100px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/inspiration-bg.jpg);
    height: 362px;
    z-index: -1;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__images {
    margin-right: 78px;
    margin-left: -230px;
    user-select: none;
  }

  &__title {
    font-size: 36px;
    line-height: 60px;
    @extend %--color-back !optional;
    @extend %--title-font !optional;
    padding-bottom: 16px;
    margin-bottom: 24px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #6d7278;
      width: 200px;
      height: 1px;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__content {
    max-width: 825px;
  }

  &__item {
    @extend %--color-black !optional;
    @extend %--title-font !optional;
    line-height: 23px;
    margin-bottom: 33px;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
  }
  // <!-- Make line -->
  &__line {
    height: 2px;
    margin-top: -2px;
    border-radius: 4px;
    @extend %--background-black !optional;
  }
}
