<div class="modal">
  <div class="modal__content">
    <button class="modal__close" type="button">
      <img src="../assets/images/modal/Close.svg" alt="close" />
    </button>
    <form class="form form--auth" action="/" method="post">
      <!-- Block -1 -->
      <div class="form__group form__group-md">
        <input class="form__controll" type="name" placeholder="Ваше имя" />
        <span class="form__line"></span>
      </div>

      <!-- Block -2 -->
      <div class="form__group form__group-md">
        <input class="form__controll" type="email" placeholder="Ваш e-mail" />
        <span class="form__line"></span>
      </div>

      <!-- Block -3 -->
      <div class="form__group form__group-md">
        <textarea
          class="form__controll form__controll-textarea"
          placeholder="Ваше сообщение"
        ></textarea>
        <span class="form__line"></span>
      </div>

      <!-- Button -->
      <div class="form__footer">
        <div class="form__group form__group-md">
          <button class="btn btn--blue btn-rounded btn-sm--small" type="submit">
            Отправить
          </button>
        </div>
        <!-- footer -->
      </div>
    </form>
    <ul class="modal__footer">
      <li>e-mail: <a href="#">info@mywebsite.ru</a></li>
      <li>тел: <a href="tel:94323285622">+943-232-856-22</a></li>
       
      
    </г>
  </div>
</div>
