<div class="modal">
  <div class="modal__content modal__content-contact">
    <button class="modal__close">
      <img src="../assets/images/modal/Close.svg" alt="close" />
    </button>

    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img
            src="../assets/images/social/modal-social/Facebook.svg"
            alt="Facebook"
          />
        </a>
      </li>

      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img
            src="../assets/images/social/modal-social/Twiter.svg"
            alt="Twiter"
          />
        </a>
      </li>

      <li class="social__item">
        <a
          class="social__link"
          href="https://vk.com/nullalexander"
          target="_blank"
        >
          <img src="../assets/images/social/modal-social/vk.svg" alt="vk" />
        </a>
      </li>

      <li class="social__item">
        <a
          class="social__link"
          href="https://vk.com/nullalexander"
          target="_blank"
        >
          <img src="../assets/images/social/modal-social/copy.svg" alt="copy" />
        </a>
      </li>
    </ul>
  </div>
</div>
