@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap");

@import "vars";
@import "mixins";
@import "vendor/reset";

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  color: $white;
  line-height: 1.5;

  // &.no-scroll {
  //   overflow: hidden;
  // }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #030303;
}

/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/search";
@import "blocks/subnav";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/work";
@import "blocks/tags";
@import "blocks/cabinet";
@import "blocks/modal";
@import "blocks/burger";
