.error__message {
  /* Выравнивание по центру */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

  padding: 20px 40px;
  text-align: center;
  color: rgb(169, 169, 169);
}

.error__message h1 {
  font-size: 400px;
  margin: 0;
  height: 550px;
}

.error__message p {
  color: rgba(36, 36, 36, 0.521);
  font-size: 24px;
  margin: 0;
}
